<br>
<br>
<div class="d-flex justify-content-center">


<div class="row row-cols-1 row-cols-md-2">  
  
  <div class="col mb-1" >
    <!-- Card -->
    <div class="card" id="product">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="/uploads/images/<%= product.image %>"
          alt="Card image cap">
        
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-text">Name: <%= product.name %></h4>
        <!--Text-->
        <h4 class="card-text"><%= product.description %></h4>
        
        <h4 class="card-text">Price:<%= product.price %></h4>
        
        <h4 class="card-text">Stock:<%= product.stock %></h4>
        

        <form action="/product/<%= product.id %>?_method=DELETE" method="POST" class="d-inline">

        <button class="btn btn-danger">Delete</button>

        </form>

        <a href="/product/edit/<%= product.id %>"  class="btn btn-info">Edit</a>
        
      </div>

    </div>
    <!-- Card -->
      
  </div>
</div>
</div>
