<br>
<br>
<div class="d-flex justify-content-center"> <a href="/product/new" class="btn btn-warning">ADD NEW</a></div>


<div class="row row-cols-1 row-cols-md-2">  
 <% product.forEach(origin => { %>
  
  <div class="col mb-1" >

  
    <!-- Card -->
    <div class="card" id="product">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="/uploads/images/<%= origin.image %>"
          alt="Card image cap">
        
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-text"><%= origin.name %></h4>
        <!--Text-->
        <p class="card-text"><%= origin.description %></p>
        <br>

        <form action="/product/<%= origin.id %>?_method=DELETE" method="POST" class="d-inline">

        <button class="btn btn-danger">Delete</button>

        </form>

        <a href="/product/edit/<%= origin.id %>" class="btn btn-light-blue btn-rounded">Edit</a>
        

        <a href="/product/show/<%= origin.slug %>" class="btn btn-light-blue btn-rounded">see more</a>

      </div>

    </div>
    <!-- Card -->
      
  </div>

  <% }) %>

</div>
